.container {
	position: fixed;
	width: 100%;
	margin: 0 auto;
	padding: 10 0px;
	background-color: rgb(224, 224, 224);
	text-align: center;
	bottom: 0;
}

.name {
	padding: 2px;
}

.span {
	font-weight: bold;
	margin-right: 5px;
}
